{% extends "base/base.html" %}

{% block start %}

<section class="section-conten padding-y" style="min-height:84vh">
    <div class="card mx-auto" style="max-width: 380px; margin-top:0px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Change Password</h4>
            <form method="POST">
                {% csrf_token %}
                {% include 'base/alert.html' %}
                <!-- form-group// -->
                <div class="form-group">
                    <input name="new_password" class="form-control" autocomplete="off" placeholder="New Password" type="text" fdprocessedid="3px2za">
                    <span class="form-text small text-muted">
                        The password must be 8-20 characters, and must <em>not</em> contain spaces.
                    </span>
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <input name="verify" class="form-control" placeholder="Re-Confirm Password" type="password" fdprocessedid="3px2za">
                    <span class="form-text small text-muted">
                        To confirm, type the new password again.
                    </span>
                </div>
                <input type="hidden" name="user_id" value="{{user_id}}">
                <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" fdprocessedid="9mvla"> Reset  </button>
                </div>
                <!-- form-group// -->
            </form>
        </div>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <br><br>

</section>

{% endblock %}