{% extends "base/base.html" %}

{% block start %}

<section class="section-conten padding-y" style="min-height:84vh">
    <div class="card mx-auto" style="max-width: 380px; margin-top:0px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Password Reset</h4>
            <form method="POST">
                {% csrf_token %}
                {% include 'base/alert.html' %}
                <div class="form-group">
                    <input name="username" class="form-control" autocomplete="off" placeholder="Username" type="text" fdprocessedid="2un59i" >
                    <span class="form-text small text-muted">
                        Password reset instructions will be sent to this email address.
                    </span>
                </div>
                <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block" fdprocessedid="9mvla"> Reset  </button>
                </div>
                <!-- form-group// -->
            </form>
        </div>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <br><br>

</section>

{% endblock %}