{% extends "base/base.html" %}

{% block start %}
<section class="section-conten padding-y" style="min-height:84vh">
    <div class="card mx-auto" style="max-width: 380px; margin-top:0px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Register New User</h4>
            <form method="POST">
                {% csrf_token %}
                {% include 'base/alert.html' %}
                <div class="form-group">
                    <input class="form-control" required placeholder="Username" name='user_name' autocomplete="off" type="text" fdprocessedid="2un59i">
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" required placeholder="First Name" name='first_name' autocomplete="off" type="text" fdprocessedid="2un59i">
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" required placeholder="Last Name" name='last_name' autocomplete="off" type="text" fdprocessedid="2un59i">
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" required placeholder="Email" name='email' autocomplete="off" type="email" fdprocessedid="3px2za">
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <input class="form-control" required placeholder="Password" name='password' type="password" fdprocessedid="3px2za">
                </div>
                <!-- form-group// -->

                <div class="form-group">
                    <a href="{%url 'login'%}" class="float-right">Go Back To Login</a>
                    <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Remember </div> </label>
                </div>
                <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" fdprocessedid="9mvla"> SignUp  </button>
                </div>
                <!-- form-group// -->
            </form>
        </div>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->
</section>
{% endblock %}